### ----------------------------------------------------------------------
### Nama     : Natalie Fuad
### NIM     : 2109106040
### ----------------------------------------------------------------------
## POSTTEST 4 - PRATIKUM KECERDASAN BUATAN
### ----------------------------------------------------------------------

In [505]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [426]:
df = pd.read_csv("Smartphone_Evolution.csv")

In [427]:
df.head()

,Brand,Model,OS,Release_Date,Battery,Processor,Memory,Primary_Storage,External_Storage,Display_Size,Display_Resolution,Display_Refresh_Rate,Primary_Camera,Front_Camera
0,ARCHOS,40 Cesium,Windows Phone 8.1,NaN,1950.0,Qualcomm Snapdragon 200,0.5,4.0,microSDXC,4.0,800 x 480,NaN,5.0,0.3
1,ARCHOS,40 Titanium,Android 4.2.2,NaN,1500.0,MediaTek,0.5,NaN,microSDHC,4.0,800 x 480,NaN,5.0,0.3
2,ARCHOS,40b Titanium,Android 4.2.2,NaN,1400.0,MediaTek,0.5,4.0,microSD,4.0,800 x 480,NaN,5.0,0.3
3,ARCHOS,45 Titanium,Android 4.2.2,NaN,1680.0,MediaTek,0.5,NaN,microSDHC,4.5,854 x 480,NaN,5.0,0.3
4,ARCHOS,45b Helium 4G,Android 4.4.4,NaN,1850.0,Qualcomm Snapdragon 410,0.5,4.0,microSDXC,4.5,854 x 480,NaN,5.0,0.3

### Mengecek tipe data atribut dataset

In [428]:
df.dtypes

Brand                    object
Model                    object
OS                       object
Release_Date             object
Battery                 float64
Processor                object
Memory                  float64
Primary_Storage         float64
External_Storage         object
Display_Size            float64
Display_Resolution       object
Display_Refresh_Rate    float64
Primary_Camera          float64
Front_Camera             object
dtype: object

##### ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Bagi dataset menjadi training set dan testing set dengan proporsi 70:30
### --------------------------------------------------------------------------------------------------------------------------------------------  Mengimport fungsi train_test_split dari sklearn

In [506]:
from sklearn.model_selection import train_test_split

### Memasukkan dataset ke dalam variabel baru dengan nama var "data_split", yang nantinya akan dibagi menjadi 2 bagian (trainig & testing)

In [429]:
dataSplit = pd.read_csv("Smartphone_Evolution.csv")

In [430]:
dataSplit.head()

,Brand,Model,OS,Release_Date,Battery,Processor,Memory,Primary_Storage,External_Storage,Display_Size,Display_Resolution,Display_Refresh_Rate,Primary_Camera,Front_Camera
0,ARCHOS,40 Cesium,Windows Phone 8.1,NaN,1950.0,Qualcomm Snapdragon 200,0.5,4.0,microSDXC,4.0,800 x 480,NaN,5.0,0.3
1,ARCHOS,40 Titanium,Android 4.2.2,NaN,1500.0,MediaTek,0.5,NaN,microSDHC,4.0,800 x 480,NaN,5.0,0.3
2,ARCHOS,40b Titanium,Android 4.2.2,NaN,1400.0,MediaTek,0.5,4.0,microSD,4.0,800 x 480,NaN,5.0,0.3
3,ARCHOS,45 Titanium,Android 4.2.2,NaN,1680.0,MediaTek,0.5,NaN,microSDHC,4.5,854 x 480,NaN,5.0,0.3
4,ARCHOS,45b Helium 4G,Android 4.4.4,NaN,1850.0,Qualcomm Snapdragon 410,0.5,4.0,microSDXC,4.5,854 x 480,NaN,5.0,0.3

#### Mengecek panjang record dan atribut

In [431]:
dataSplit.shape

(4537, 14)

#### Memasukkan dataset ke 2 variabel baru menggunakan fungsi iloc, dimana variabel x mengecualikan atribut index, lalu variabel y hanya menggambil data tanpa atributdan index.

In [432]:
x = dataSplit.iloc[:, :-1]
y = dataSplit.iloc[:, -1]

#### Membagi 2 dataset menggunakan fungsi train_test_split dengan proporsi 70:30

In [433]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [434]:
print("\n----------    ++    -------------    ++    ----------\n")
print("         Dataset setelah dilakukan splitting")
print("\n----------    ++    -------------    ++    ----------\n")

print("  Dimensi dari x_train : ", x_train.shape)
print("  Dimensi dari x_test : ", x_test.shape)
print("  Dimensi dari y_train : ", y_train.shape)
print("  Dimensi dari y_test : ", y_test.shape)

print("\n----------    ++    -------------    ++    ----------\n")

----------    ++    -------------    ++    ----------

         Dataset setelah dilakukan splitting

----------    ++    -------------    ++    ----------

  Dimensi dari x_train :  (3175, 13)
  Dimensi dari x_test :  (1362, 13)
  Dimensi dari y_train :  (3175,)
  Dimensi dari y_test :  (1362,)

----------    ++    -------------    ++    ----------

##### ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)
### --------------------------------------------------------------------------------------------------------------------------------------------  Mengcopy dataset untuk normalisasi

In [435]:
datasetCopyNorm = df.copy()

### Mengimport fungsi Min Max Scaler dari sklearn

In [436]:
from sklearn.preprocessing import MinMaxScaler

### Proses Normalisasi atribut 'Battery' menggunakan fungsi MinMaxScaler

In [437]:
minMaxScaler = MinMaxScaler()

In [438]:
normalisasi = minMaxScaler.fit_transform(
    datasetCopyNorm[['Battery']]
)

In [439]:
dataNorm = pd.DataFrame(normalisasi)

In [440]:
dataNorm.head()

          0
0  0.179455
1  0.123762
2  0.111386
3  0.146040
4  0.167079

##### ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Lakukan standarisasi pada dataset (buatlah copy dataset terlebih dahulu)
### --------------------------------------------------------------------------------------------------------------------------------------------  Mengcopy dataset untuk standarisasi

In [441]:
datasetCopyStand = dataSplit.copy()

### Menampilkan dataset sebelum dilakukan standarisasi menggunakan scaling

In [442]:
print("\n----------    ++    -------------    ++    ----------")
print("\n     Data standarisasi sebelum dilakukan scaling \n")
print("----------    ++    -------------    ++    ----------")
print("\n", np.std(datasetCopyStand), "\n\n----------    ++    -------------    ++    ----------\n")

----------    ++    -------------    ++    ----------

     Data standarisasi sebelum dilakukan scaling

----------    ++    -------------    ++    ----------

 Battery                 1169.758135
Memory                     2.295602
Primary_Storage           59.039797
Display_Size               1.174793
Display_Refresh_Rate      27.863280
Primary_Camera            15.479746
dtype: float64

----------    ++    -------------    ++    ----------

C:\Users\Acer\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

### Mengimport fungsi StandarScaler dari sklearn

In [443]:
from sklearn.preprocessing import StandardScaler

### Proses Standarisasi dataset menggunakan fungsi StandarScaler

In [444]:
standScaler = StandardScaler()

In [445]:
standarisasi = standScaler.fit_transform(
    datasetCopyStand[['Battery', 'Memory', 'Primary_Storage', 'Display_Size', 'Display_Refresh_Rate', 'Primary_Camera']]
)

In [446]:
print("\n----------    ++    -------------    ++    ----------")
print("\n     Data standarisasi setelah dilakukan scaling \n")
print("----------    ++    -------------    ++    ----------")
print("\n", standarisasi, "\n\n                        ", np.std(standarisasi), "\n\n----------    ++    -------------    ++    ----------\n")

----------    ++    -------------    ++    ----------

     Data standarisasi setelah dilakukan scaling

----------    ++    -------------    ++    ----------

 [[-0.40753157 -0.66348318 -0.51315551 -0.62638552         nan -0.43377561]
 [-0.79222648 -0.66348318         nan -0.62638552         nan -0.43377561]
 [-0.87771424 -0.66348318 -0.51315551 -0.62638552         nan -0.43377561]
 ...
 [ 0.71235806  0.86117144  0.50310815  1.24628409         nan  0.08302873]
 [ 1.37061379 -0.01005977 -0.03889913  1.24628409         nan  0.08302873]
 [ 1.37061379  0.86117144  0.50310815  1.24628409         nan  0.08302873]]

                         nan

----------    ++    -------------    ++    ----------

##### ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Lakukan Data cleaning pada data dengan nilai null
##### *(jika tidak ada nilai null pada dataset, maka buatlah menjadi ada).*
## Ganti nilai null sesuai ketentuan.
##### *(bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus).*
### *Nilai plus jika strategy yang digunakan menggunakan 3 nilai*

### --------------------------------------------------------------------------------------------------------------------------------------------  Mengecek nilai null

In [447]:
print("\n----------    ++    -------------    ++    ----------")
print("\n       Dataset sebelum dilakukan data cleaning\n")
print("----------    ++    -------------    ++    ----------\n")
print(df.isna().sum(), "\n\n----------    ++    -------------    ++    ----------\n")

----------    ++    -------------    ++    ----------

       Dataset sebelum dilakukan data cleaning

----------    ++    -------------    ++    ----------

Brand                      0
Model                      0
OS                        18
Release_Date            2190
Battery                  169
Processor               1429
Memory                   472
Primary_Storage          717
External_Storage          55
Display_Size             233
Display_Resolution        82
Display_Refresh_Rate    4227
Primary_Camera            99
Front_Camera            1233
dtype: int64

----------    ++    -------------    ++    ----------

### Proses cleaning data mengunakan teknik subsitusi nilai

### Mengimport fungsi SimpleImputer dari sklearn

In [448]:
from sklearn.impute import SimpleImputer

### Mengubah nilai null dari atribut ber-tipe data float menjadi mean

In [449]:
simpleImptFloat = SimpleImputer(strategy = 'mean')

In [450]:
df['Battery'] = simpleImptFloat.fit_transform(df[['Battery']])
df['Memory'] = simpleImptFloat.fit_transform(df[['Memory']])
df['Primary_Storage'] = simpleImptFloat.fit_transform(df[['Primary_Storage']])
df['Display_Size'] = simpleImptFloat.fit_transform(df[['Display_Size']])
df['Display_Refresh_Rate'] = simpleImptFloat.fit_transform(df[['Display_Refresh_Rate']])
df['Primary_Camera'] = simpleImptFloat.fit_transform(df[['Primary_Camera']])

In [451]:
print("\n----------    ++    -------------    ++    ----------")
print("\n       Dataset setelah dilakukan data cleaning\n               (Data ber-tipe float)\n")
print("----------    ++    -------------    ++    ----------\n")
print(df.isna().sum(), "\n\n----------    ++    -------------    ++    ----------\n")

----------    ++    -------------    ++    ----------

       Dataset setelah dilakukan data cleaning
               (Data ber-tipe float)

----------    ++    -------------    ++    ----------

Brand                      0
Model                      0
OS                        18
Release_Date            2190
Battery                    0
Processor               1429
Memory                     0
Primary_Storage            0
External_Storage          55
Display_Size               0
Display_Resolution        82
Display_Refresh_Rate       0
Primary_Camera             0
Front_Camera            1233
dtype: int64

----------    ++    -------------    ++    ----------

### Mengubah nilai null dari atribut ber-tipe data object menjadi modus

In [452]:
simpleImptObj = SimpleImputer(strategy = 'most_frequent')

In [453]:
df['OS'] = simpleImptObj.fit_transform(df[['OS']])
df['Release_Date'] = simpleImptObj.fit_transform(df[['Release_Date']])
df['Processor'] = simpleImptObj.fit_transform(df[['Processor']])
df['External_Storage'] = simpleImptObj.fit_transform(df[['External_Storage']])
df['Display_Resolution'] = simpleImptObj.fit_transform(df[['Display_Resolution']])
df['Front_Camera'] = simpleImptObj.fit_transform(df[['Front_Camera']])

In [454]:
print("\n----------    ++    -------------    ++    ----------")
print("\n       Dataset setelah dilakukan data cleaning\n               (Data ber-tipe object)\n")
print("----------    ++    -------------    ++    ----------\n")
print(df.isna().sum(), "\n\n----------    ++    -------------    ++    ----------\n")

----------    ++    -------------    ++    ----------

       Dataset setelah dilakukan data cleaning
               (Data ber-tipe object)

----------    ++    -------------    ++    ----------

Brand                   0
Model                   0
OS                      0
Release_Date            0
Battery                 0
Processor               0
Memory                  0
Primary_Storage         0
External_Storage        0
Display_Size            0
Display_Resolution      0
Display_Refresh_Rate    0
Primary_Camera          0
Front_Camera            0
dtype: int64

----------    ++    -------------    ++    ----------

##### ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Lakukan Data cleaning pada data dengan nilai duplikat.
##### *(Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada)*
### --------------------------------------------------------------------------------------------------------------------------------------------  Mengecek data yang terduplikat

In [455]:
df[df.duplicated()]

Empty DataFrame
Columns: [Brand, Model, OS, Release_Date, Battery, Processor, Memory, Primary_Storage, External_Storage, Display_Size, Display_Resolution, Display_Refresh_Rate, Primary_Camera, Front_Camera]
Index: []

### Karena tidak ada data yang terduplikat maka akan saya tambahkan sendiri data yang sama

### Pertama cek data paling akhir terlebih dahulu, karena saya akan menambahkan data pada index paling akhir

In [456]:
df.tail()

,Brand,Model,OS,Release_Date,Battery,Processor,Memory,Primary_Storage,External_Storage,Display_Size,Display_Resolution,Display_Refresh_Rate,Primary_Camera,Front_Camera
4532,vivo,Y11,Android 9.0 Pie,"Oct 22, 2019",5000.0,Qualcomm Snapdragon 439,3.0,32.0,microSDXC,6.3,1544 x 720,96.629032,13.0,8
4533,vivo,Y19,Android 9.0 Pie,"Nov 01, 2019",5000.0,MediaTek Helio P65,4.0,128.0,microSDXC,6.5,2340 x 1080,96.629032,16.0,16
4534,vivo,Y83 Pro,Android 8.1 Oreo,"Aug 22, 2018",3260.0,MediaTek Helio P22,4.0,64.0,microSDXC,6.2,1520 x 720,96.629032,13.0,8
4535,vivo,Y91,Android 8.1 Oreo,"Jan 15, 2019",4030.0,MediaTek Helio P22,2.0,32.0,microSDXC,6.2,1520 x 720,96.629032,13.0,8
4536,vivo,Y93,Android 8.1 Oreo,"Dec 27, 2018",4030.0,MediaTek Helio P22,4.0,64.0,microSDXC,6.2,1520 x 720,96.629032,13.0,8

### Proses penambahan data duplikat (menduplikat data index ke-14)

In [457]:
duplikat1 = pd.DataFrame([['ARCHOS', '50c Oxygen', 'Android 4.2',     
                              'Feb 20, 2014', 2000.0, 'MediaTek',
                              1.0, 8.000000, 'microSDHC', 5.0,
                              '1280 x 720', 96.629032, 8.0, 2]],
                   columns=['Brand', 'Model', 'OS',
                            'Release_Date', 'Battery',
                            'Processor', 'Memory',
                            'Primary_Storage', 'External_Storage',
                            'Display_Size', 'Display_Resolution',
                            'Display_Refresh_Rate', 'Primary_Camera', 'Front_Camera'])

duplikat2 = pd.DataFrame([['ARCHOS', '50c Oxygen', 'Android 4.2',     
                              'Feb 20, 2014', 2000.0, 'MediaTek',
                              1.0, 8.000000, 'microSDHC', 5.0,
                              '1280 x 720', 96.629032, 8.0, 2]],
                   columns=['Brand', 'Model', 'OS',
                            'Release_Date', 'Battery',
                            'Processor', 'Memory',
                            'Primary_Storage', 'External_Storage',
                            'Display_Size', 'Display_Resolution',
                            'Display_Refresh_Rate', 'Primary_Camera', 'Front_Camera'])

df = df.append([duplikat1, duplikat2], ignore_index=True)

C:\Users\Acer\AppData\Local\Temp\ipykernel_13464\719954853.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append([duplikat1, duplikat2], ignore_index=True)

### Mengecek kembali data paling akhir, dan data sudah tertambah

In [458]:
df.tail()

,Brand,Model,OS,Release_Date,Battery,Processor,Memory,Primary_Storage,External_Storage,Display_Size,Display_Resolution,Display_Refresh_Rate,Primary_Camera,Front_Camera
4534,vivo,Y83 Pro,Android 8.1 Oreo,"Aug 22, 2018",3260.0,MediaTek Helio P22,4.0,64.0,microSDXC,6.2,1520 x 720,96.629032,13.0,8
4535,vivo,Y91,Android 8.1 Oreo,"Jan 15, 2019",4030.0,MediaTek Helio P22,2.0,32.0,microSDXC,6.2,1520 x 720,96.629032,13.0,8
4536,vivo,Y93,Android 8.1 Oreo,"Dec 27, 2018",4030.0,MediaTek Helio P22,4.0,64.0,microSDXC,6.2,1520 x 720,96.629032,13.0,8
4537,ARCHOS,50c Oxygen,Android 4.2,"Feb 20, 2014",2000.0,MediaTek,1.0,8.0,microSDHC,5.0,1280 x 720,96.629032,8.0,2
4538,ARCHOS,50c Oxygen,Android 4.2,"Feb 20, 2014",2000.0,MediaTek,1.0,8.0,microSDHC,5.0,1280 x 720,96.629032,8.0,2

### Mengecek kembali data terduplikatnya menggunakan fungsi .duplicated()

In [459]:
df[df.duplicated()]

,Brand,Model,OS,Release_Date,Battery,Processor,Memory,Primary_Storage,External_Storage,Display_Size,Display_Resolution,Display_Refresh_Rate,Primary_Camera,Front_Camera
4538,ARCHOS,50c Oxygen,Android 4.2,"Feb 20, 2014",2000.0,MediaTek,1.0,8.0,microSDHC,5.0,1280 x 720,96.629032,8.0,2

### Menghapus data duplikat menggunakan fungsi .drop_duplicates()

In [460]:
df.drop_duplicates(inplace = True)

### Tampilan dataset yang terduplikat setelah dihapus

In [461]:
df[df.duplicated()]

Empty DataFrame
Columns: [Brand, Model, OS, Release_Date, Battery, Processor, Memory, Primary_Storage, External_Storage, Display_Size, Display_Resolution, Display_Refresh_Rate, Primary_Camera, Front_Camera]
Index: []

In [462]:
print("\n----------    ++    -------------    ++    ----------")
print("\n    Dataset setelah data yang terduplikat dihapus\n")
print("----------    ++    -------------    ++    ----------\n")
print(df.duplicated().sum(), "\n\n----------    ++    -------------    ++    ----------\n")

----------    ++    -------------    ++    ----------

    Dataset setelah data yang terduplikat dihapus

----------    ++    -------------    ++    ----------

0

----------    ++    -------------    ++    ----------

##### ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Ganti tipe data salah satu attribute angka
### --------------------------------------------------------------------------------------------------------------------------------------------  Mengecek tipe data

In [463]:
df.dtypes

Brand                    object
Model                    object
OS                       object
Release_Date             object
Battery                 float64
Processor                object
Memory                  float64
Primary_Storage         float64
External_Storage         object
Display_Size            float64
Display_Resolution       object
Display_Refresh_Rate    float64
Primary_Camera          float64
Front_Camera             object
dtype: object

In [464]:
df['Primary_Camera'] = df['Primary_Camera'].astype('int64')

### Mengecek kembali tipe data

In [465]:
df.dtypes

Brand                    object
Model                    object
OS                       object
Release_Date             object
Battery                 float64
Processor                object
Memory                  float64
Primary_Storage         float64
External_Storage         object
Display_Size            float64
Display_Resolution       object
Display_Refresh_Rate    float64
Primary_Camera            int64
Front_Camera             object
dtype: object

##### ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
## Lakukan one hot encoding pada dataset yang kalian miliki.
### --------------------------------------------------------------------------------------------------------------------------------------------

### Mengimport fungsi OneHotEncoder

In [466]:
from sklearn.preprocessing import OneHotEncoder

In [501]:
oneHEncoder = OneHotEncoder(sparse = False)
onehotBrand = oneHEncoder.fit_transform(df[["Brand"]])

In [502]:
dataonehot = pd.DataFrame(onehotBrand)

In [503]:
df = df.join(dataonehot)

In [504]:
df.head()

,Brand,Model,OS,Release_Date,Battery,Processor,Memory,Primary_Storage,External_Storage,Display_Size,...,103,104,105,106,107,108,109,110,111,112
0,ARCHOS,40 Cesium,Windows Phone 8.1,"May 01, 2015",1950.0,Qualcomm Snapdragon 200,0.5,4.000000,microSDXC,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ARCHOS,40 Titanium,Android 4.2.2,"May 01, 2015",1500.0,MediaTek,0.5,34.296597,microSDHC,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ARCHOS,40b Titanium,Android 4.2.2,"May 01, 2015",1400.0,MediaTek,0.5,4.000000,microSD,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ARCHOS,45 Titanium,Android 4.2.2,"May 01, 2015",1680.0,MediaTek,0.5,34.296597,microSDHC,4.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ARCHOS,45b Helium 4G,Android 4.4.4,"May 01, 2015",1850.0,Qualcomm Snapdragon 410,0.5,4.000000,microSDXC,4.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0